<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.movieapp">

    <!-- Permisiuni pentru camera -->
<!--    <uses-feature android:name="android.hardware.camera" />-->
<!--    <uses-feature android:name="android.hardware.camera.autofocus" />-->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieApp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

<!--            <intent-filter tools:ignore="AppLinkUrlError">-->
<!--                <action android:name="android.intent.action.VIEW"></action>-->
<!--                <category android:name="android.intent.category.BROWSABLE"></category>-->

<!--                <data android:scheme="https"-->
<!--                    android:host="www.movietiketsapp.com"></data>-->
<!--            </intent-filter>-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW"></action>-->
<!--                <category android:name="android.intent.category.BROWSABLE"></category>-->

<!--                <data android:scheme="http"-->
<!--                    android:host="www.movietiketsapp.com"></data>-->
<!--            </intent-filter>-->

<!--            <intent-filter tools:ignore="AppLinkUrlError">-->
<!--                <action android:name="android.intent.action.VIEW"></action>-->
<!--                <category android:name="android.intent.category.BROWSABLE"></category>-->

<!--                <data android:scheme="app"-->
<!--                    android:host="www.movietiketsapp.com"></data>-->
<!--            </intent-filter>-->
        </activity>
        <provider
            android:authorities="com.example.movieapp.fileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATH"
                android:resource="@xml/file_paths"/>

        </provider>

        <activity android:name=".SecondActivity"/>
    </application>

</manifest>